In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
train = pd.read_csv('../data/chaii-hindi-and-tamil-question-answering/train.csv')
test = pd.read_csv('../data/chaii-hindi-and-tamil-question-answering/test.csv')
sample = pd.read_csv('../data/chaii-hindi-and-tamil-question-answering/sample_submission.csv')

In [4]:
print("Train shape:", train.shape)
print("Test shape:", test.shape)

Train shape: (1114, 6)
Test shape: (5, 4)

In [5]:
train.head()

,id,context,question,answer_text,answer_start,language
0,903deec17,ஒரு சாதாரண வளர்ந்த மனிதனுடைய எலும்புக்கூடு பின...,மனித உடலில் எத்தனை எலும்புகள் உள்ளன?,206,53,tamil
1,d9841668c,காளிதாசன் (தேவநாகரி: कालिदास) சமஸ்கிருத இலக்கி...,காளிதாசன் எங்கு பிறந்தார்?,காசுமீரில்,2358,tamil
2,29d154b56,சர் அலெக்ஸாண்டர் ஃபிளெமிங் (Sir Alexander Flem...,பென்சிலின் கண்டுபிடித்தவர் யார்?,சர் அலெக்ஸாண்டர் ஃபிளெமிங்,0,tamil
3,41660850a,"குழந்தையின் அழுகையை நிறுத்தவும், தூங்க வைக்கவ...",தமிழ்நாட்டில் குழந்தைகளை தூங்க வைக்க பாடும் பா...,தாலாட்டு,68,tamil
4,b29c82c22,சூரியக் குடும்பம் \nசூரியக் குடும்பம் (Solar S...,பூமியின் அருகில் உள்ள விண்மீன் எது?,சூரியனும்,585,tamil

In [6]:
test.head()

,id,context,question,language
0,22bff3dec,"ज्वाला गुट्टा (जन्म: 7 सितंबर 1983; वर्धा, महा...",ज्वाला गुट्टा की माँ का नाम क्या है,hindi
1,282758170,गूगल मानचित्र (Google Maps) (पूर्व में गूगल लो...,गूगल मैप्स कब लॉन्च किया गया था?,hindi
2,d60987e0e,गुस्ताव रॉबर्ट किरचॉफ़ (१२ मार्च १८२४ - १७ अक्...,गुस्ताव किरचॉफ का जन्म कब हुआ था?,hindi
3,f99c770dc,அலுமினியம் (ஆங்கிலம்: அலுமினியம்; வட அமெரிக்க ...,அலுமினியத்தின் அணு எண் என்ன?,tamil
4,40dec1964,"கூட்டுறவு இயக்க வரலாறு, இங்கிலாந்து நாட்டில் ...",இந்தியாவில் பசுமை புரட்சியின் தந்தை என்று கருத...,tamil

In [7]:
sample.head()

          id  PredictionString
0  22bff3dec               NaN
1  282758170               NaN
2  d60987e0e               NaN
3  f99c770dc               NaN
4  40dec1964               NaN

In [8]:
train.isnull().sum()

id              0
context         0
question        0
answer_text     0
answer_start    0
language        0
dtype: int64

In [9]:
train['language'].value_counts()

hindi    746
tamil    368
Name: language, dtype: int64

In [10]:
test['language'].value_counts()

hindi    3
tamil    2
Name: language, dtype: int64

In [11]:
train[train['language']=='hindi']

,id,context,question,answer_text,answer_start,language
368,416091aeb,विषाणु अकोशिकीय अतिसूक्ष्म जीव हैं जो केवल जीव...,सन १८८६ में किसने बताया कि तम्बाकू में मोजेक र...,एडोल्फ मेयर,935,hindi
369,9d274ae3c,फ्लोरीन एक रासायनिक तत्व है। यह आवर्त सारणी (p...,फ्लोरीन की परमाणु संख्या क्या है?,9,166,hindi
370,da7397c5e,सीऐटल (अंग्रेजी: Seattle) अमेरिका के वाशिंगटन ...,सीटल शहर कहाँ स्थित है?,अमेरिका के वाशिंगटन राज्य,26,hindi
371,661880e43,सूर्य अथवा सूरज सौरमंडल के केन्द्र में स्थित ए...,पृथ्वी को सूर्य की परिक्रमा करने में कितने दिन...,28 दिनों,2762,hindi
372,3e3a2bed4,"दिल्ली नगर निगम एक शहर व नगर निगम है, जो दिल्ल...","दिल्ली नगर निगम, दिल्ली के कितने जिलों में कार...",कुल नौ जिलों,51,hindi
...,...,...,...,...,...,...
1109,26f356026,स्वामी निगमानन्द परमहंस (18 अगस्त 1880 - 29 नव...,स्वामी निगमानन्द परमहंस के तन्त्र गुरु कौन थे?,बामाक्षेपा,2691,hindi
1110,31179f1bb,भरत मुनि ने नाट्यशास्त्र नामक प्रसिद्ध ग्रन्थ ...,नित्यशास्त्र किसने लिखा है?,भरत मुनि,0,hindi
1111,0d35dc007,अग्नि पंचम (अग्नि-५) भारत की अन्तरमहाद्वीपीय ब...,अग्नि पंचम(५) मिसाइल की लम्बाई कितने मीटर है?,17,155,hindi
1112,7f997884d,"जलाल उद्दीन मोहम्मद अकबर () (१५ अक्तूबर, १५४२-...",मुगल सम्राट अकबर की मृत्यु किस वर्ष में हुई थी?,"२७ अक्तूबर, १६०५",46,hindi
1113,ee569fe45,अमेरिका में जन्मीं अभिनेत्री तथा फैशन डिज़ाइनर...,लीजा रे की पहली फिल्म का नाम क्या था?,नेताजी,2017,hindi

In [13]:
train[train['language']=='hindi'].loc[369]['context']

'फ्लोरीन एक रासायनिक तत्व है। यह आवर्त सारणी (periodic table) के सप्तसमूह का प्रथम तत्व है, जिसमें सर्वाधिक अधातु गुण वर्तमान हैं। इसका एक स्थिर समस्थानिक (भारसंख्या 19) प्राप्त है और तीन रेडियोधर्मिता समस्थानिक (भारसंख्या 17,18 और 20) कृत्रिम साधनों से बनाए गए हैं। इस तत्व को 1886 ई. में मॉयसाँ ने पृथक्\u200c किया। अत्यंत क्रियाशील तत्व होने के कारण इसको मुक्त अवस्था में बनाना अत्यंत कठिन कार्य था। मॉयसाँ ने विशुद्ध हाइड्रोक्लोरिक अम्ल तथा दहातु तरस्विनिक के मिश्रण के वैद्युत्\u200c अपघटन द्वारा यह तत्व प्राप्त किया था।\nतरस्विनी मुक्त अवस्था में नहीं पाया जाता। इसके यौगिक चूर्णातु तरस्विनिक (फ्लुओराइड), (चूर.त2) (CaF2) और क्रायोलाइड, (क्षा3स्फ.त6) (Na3AlF6) अनेक स्थानों पर मिलते हैं।\nतरस्विनी का निर्माण मॉयसाँ विधि द्वारा किया जाता है। महातु घनातु मिश्रधातु का बना यू (U) के आकार का विद्युत्\u200c अपघटनी कोशिका लिया जाता है, जिसके विद्युदग्र भी इसी मिश्रधातु के बने रहते हैं। हाइड्रोफ्लोरिक अम्ल में दहातु तरस्विनिक (फ्लुओराइड) विलयित कर - 23° सें. पर सेल में अपघटन करने से धनाग्र पर तरस्विनी मुक्त होगी। मुक्त तरस्विनी को विशुद्ध करने के हेतु प्लैटिनम के ठंडे बरतन तथा क्षारातु तरस्विनिक (फ्लुओराइड) की नलिकाओं द्वारा प्रवाहित किया जाता है।\n गुण \nतरस्विनी के कुछ भौतिक गुण निम्नांकित हैं:\nसंकेत--- त (F)\nपरमाणु संख्या --- 9\nपरमाणु भार--- 19\nगलनांक --- -223रू सें.\nक्वथनांक --- -188रू सें.\nआपेक्षिक घनत्व --- -1.265\nपरमाणु व्यास --- 1.36 ऐंगस्ट्रॉम\nतरस्विनी समस्त तत्वों में अपेक्षाकृत सर्वाधिक क्रियाशील पदार्थ है। हाइड्रोजन के साथ यह न्यून ताप पर भी विस्फोट के साथ संयुक्त हो जाता है।\nहाइड्रोफ्लुओरिक अम्ल अथवा उदजन तरस्विनिक (हाइड्रोजन फ्लुओराइड) (उ.त)(HF) अथवा (उ2त2) (H2F2) अत्यंत विषैला पदार्थ है इसका विशुद्ध यौगिक विद्युत्\u200c का कुचालक है। इसका जलीय विलयन तीव्र आम्लिक गुण युक्त होता है। यह काच पर क्रिया कर सैकता तरस्विनिक (सिलिकन फ्लुओराइड) बनाता है। इस गुण के कारण इसका उपयोग काच पर निशान बनाने में होता है। हाइड्रोफ्लुओरिक अम्ल के लवण तरस्विनिक (फ्लुओराइड) कहलाते हैं। कुछ तरस्विनिक जल में विलेय होते हैं।\n उपयोग \nतरस्विनी का उपयोग कीटमारक के रूप में होता है। इसके कुछ यौगिक, जैसे किरणात तरस्विनिक (यूरेनियम फ्लुओराइड), परमाणु ऊर्जा प्रयोगों में प्रयुक्त होते हैं। तरस्विनी के अनेक कार्बनिक यौगिक प्रशीतन उद्योग तथा प्लास्टिक उद्योग में काम आते हैं।\n\nश्रेणी:फ्लोरीन\nश्रेणी:हैलोजन\nश्रेणी:रासायनिक तत्व\nश्रेणी:द्विपरमाणुक अधातु\nश्रेणी:औद्योगिक गैसें\nश्रेणी:ऑक्सीकारक'

In [16]:
train[train['language']=='hindi'].iloc[368]['context'][935]

'त'

In [21]:
def convert(seconds):
    seconds = seconds % (24 * 3600)
    hour = seconds // 3600
    seconds %= 3600
    minutes = seconds // 60
    seconds %= 60
    return "%d:%02d:%02d" % (hour, minutes, seconds)

In [23]:
convert(23586.595484256744)

'6:33:06'